$basic-black: rgb(0, 0, 0);
$basic-grey: rgb(30, 30, 30);
$basic-grey-lucent: rgba(30, 30, 30, .24);
$white-02: rgb(240, 248, 255);
$white-02-lucent: rgba(240, 248, 255, .021);
$basic-white : rgb(255, 255, 255);
$basic-red: rgb(220, 20, 60);
$basic-light-blue: rgb(143, 211, 244);


$purple-orange-gradient: linear-gradient(to bottom right, #800285, #FFC939);
$black-grey-gradient: linear-gradient(60deg, #29323c 0%, #485563 100%);

$mobile-min-width: 220px;
$tablet-min-width: 768px;
$desktop-min-width: 1200px;

// $min-desktop-width: 960px;
